@media only screen and (max-width: 380px) {
  h1 {
    font-size: 8vw !important;
  }
}

/* @media only screen and (min-width: 1040px) {
  .container {
    margin: 0 10em 10em 0;
  }
} */

.intro {
  background-color: #ffb13b;
}

.home {
  font-style: italic;
}

.home:hover {
  color: #ffb13b;
  animation: 4s infinite glow;
  transition: cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes glow {
  0% {
    color: #ffb13b;
  }
  25% {
    color: #ff3a3a;
  }
  75% {
    color: #ff0080;
  }
  100% {
    color: #c300ff;
  }
}
@-webkit-keyframes glow {
  0% {
    color: #ffb13b;
  }
  25% {
    color: #ff3a3a;
  }
  75% {
    color: #ff0080;
  }
  100% {
    color: #c300ff;
  }
}

.container {
  color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
}

.container h1 {
  font-size: 2.5em;
  font-weight: 200;
}

.container h2 {
  font-size: medium;
  font-weight: 800;
}

.container h3 {
  font-size: medium;
  font-weight: 600;
}

.container h4 {
  font-weight: 600;
}

.container h6 {
  font-weight: 400;
}

.container b {
  font-weight: 600;
}

.container li {
  padding-bottom: 0.5em;
}

.container p,
ul,
li {
  font-family: "Open Sans", sans-serif;
}

.link {
  text-decoration: none;
  color: #1a1a1a;
}

.link:hover {
  color: white;
}
