@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600;700&family=Fira+Mono&family=Open+Sans&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Fira Mono", monospace;
}
